<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncms.mapper.dict.SysDictionaryMapper">
	<resultMap id="BaseResultMap" type="com.ncms.model.sys.dict.SysDictionary">
		<id column="dict_id" property="dictId" jdbcType="VARCHAR"/>
		<result column="dict_code" property="dictCode" jdbcType="VARCHAR"/>
		<result column="dict_name" property="dictName" jdbcType="VARCHAR"/>
		<result column="dict_value" property="dictValue" jdbcType="VARCHAR"/>
		<result column="pdict_id" property="pdictId" jdbcType="VARCHAR"/>
		<result column="dict_state" property="dictState" jdbcType="INTEGER"/>
		<result column="dict_order" property="dictOrder" jdbcType="INTEGER"/>
	</resultMap>
	<resultMap id="BaseResultMap_AllDictionary" type="com.ncms.model.dict.SysDictionaryVO">
		<id column="dict_id" property="dictId" jdbcType="VARCHAR"/>
		<result column="dict_code" property="dictCode" jdbcType="VARCHAR"/>
		<result column="dict_name" property="dictName" jdbcType="VARCHAR"/>
		<result column="dict_value" property="dictValue" jdbcType="VARCHAR"/>
		<result column="pdict_id" property="pdictId" jdbcType="VARCHAR"/>
		<result column="dict_state" property="dictState" jdbcType="INTEGER"/>
		<result column="dict_order" property="dictOrder" jdbcType="INTEGER"/>
	</resultMap>
	<sql id="Base_Column_List">
		sys_dictionary.dict_id,sys_dictionary.dict_code,sys_dictionary.dict_name,sys_dictionary.dict_value,sys_dictionary.pdict_id,sys_dictionary.dict_state,sys_dictionary.dict_order
	</sql>
	<select id="queryAllDictionaryGroup" parameterType="Map" resultMap="BaseResultMap">
	<!-- yuefy  查询数据字典所有值第一层分组 -->
	    select 
	    <include refid="Base_Column_List"></include>
		FROM 
			sys_dictionary
		WHERE 
			pdict_id = ''
			and dict_state &gt;= 0
		ORDER BY
		dict_name
	</select>
	<!-- 查询顶级菜单 -->
	<select id="queryAllDictionary" parameterType="Map" resultMap="BaseResultMap_AllDictionary">
	    <!-- yuefy  查询数据字典所有值 -->
	    select DISTINCT 
	    	<include refid="Base_Column_List"/>,
			(
				select DISTINCT sd.dict_name as pdict_name 
				from sys_dictionary sd
				INNER JOIN sys_dictionary psd on sd.dict_id = psd.pdict_id
				where sd.dict_id = sys_dictionary.pdict_id
			) as pdictName
		FROM sys_dictionary
		<where> 
			pdict_id != ''
			<if test="dict_state == null">
				and dict_state &gt;= 0
			</if>
			<if test="dict_name != null and dict_name != ''">
				and LOCATE(#{dict_name,jdbcType=VARCHAR},dict_name) &gt; 0
			</if>
			<if test="dict_value != null and dict_value != ''">
				and dict_value = #{dict_value,jdbcType=VARCHAR}
			</if>
			<if test="dict_state != null">
				and dict_state = #{dict_state,jdbcType=INTEGER}
			</if>
			<if test="pdict_id != null and pdict_id != ''">
				and pdict_id = #{pdict_id,jdbcType=VARCHAR}
			</if>
		</where> 
		ORDER BY pdictName,dict_order, dict_name
	</select>
	
		
  	<update id="updateDictionaryState" parameterType="Map">
  	<!-- yuefy 批量修改状态 -->
		update sys_dictionary d set d.dict_state=#{dictionaryState,jdbcType=INTEGER}
	    where d.dict_id in  
	        <foreach collection="idsList" item="item" index="index" open="(" separator="," close=")">  
                #{item}  
            </foreach>  
	</update>
	
	<delete id="deleteDictionary" parameterType="Map">
  	<!-- yuefy 批量删除数据字典 -->
		delete from sys_dictionary 
	    where dict_id in  
	        <foreach collection="idsList" item="item" index="index" open="(" separator="," close=")">  
                #{item}  
            </foreach>  
	</delete>
	
	<select id="querySystemDictTree" parameterType="Map" resultMap="BaseResultMap">
  	<!-- 根据pmenuId查询所有子菜单list -->
		select DISTINCT
	    	<include refid="Base_Column_List" />
		FROM
			sys_dictionary
		left JOIN sys_dictionary psd on sys_dictionary.dict_id = psd.pdict_id
		where sys_dictionary.dict_state &gt;= 0
  	</select>
  	
  	<select id="queryDictByConditions" parameterType="Map" resultMap="BaseResultMap_AllDictionary"> 
  	<!-- 模糊查询 -->
     select 
	    <include refid="Base_Column_List" />
     from sys_dictionary  
     <where> 
     	<if test="dictState == null">
     		and dict_state &gt;= 0
     	</if>
    	<if test="dictValue != '' and dictValue != null">
     		and LOCATE(#{dictValue,jdbcType=VARCHAR},dict_value) &gt; 0
     	</if>
     	<if test="dictCode != '' and dictCode != null">
     		and LOCATE(#{dictCode,jdbcType=VARCHAR},dict_code) &gt; 0
     	</if>
     	<if test="dictName != '' and dictName != null">
     		and LOCATE(#{dictName,jdbcType=VARCHAR},dict_name) &gt; 0
     	</if>
     	<if test="dictState != null">
     		and dict_state = #{dictState,jdbcType=INTEGER} 
     	</if>
     </where>
   </select> 
</mapper>