<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncms.mapper.dict.SysParameterMapper">
	<resultMap id="BaseResultMap" type="com.ncms.model.sys.dict.SysParameter">
		<id column="para_id" property="paraId" jdbcType="VARCHAR"/>
		<result column="para_code" property="paraCode" jdbcType="VARCHAR"/>
		<result column="para_value" property="paraValue" jdbcType="VARCHAR"/>
		<result column="para_note" property="paraNote" jdbcType="VARCHAR"/>
		<result column="para_state" property="paraState" jdbcType="INTEGER"/>
		<result column="para_order" property="paraOrder" jdbcType="INTEGER"/>
	</resultMap>
	<sql id="Base_Column_List">
		sys_parameter.para_id,sys_parameter.para_code,sys_parameter.para_value,sys_parameter.para_note,sys_parameter.para_state,sys_parameter.para_order
	</sql>
	
  <!-- 修改参数状态 -->
  <update id="updateParameterState" parameterType="map">
  	update sys_parameter set  
	  	para_state = #{state}
  	where
  	para_id = #{paraId,jdbcType=VARCHAR}
  </update>
  
  
  <!-- 模糊查询 -->
  <select id="queryParameter" resultMap="BaseResultMap" parameterType="com.ncms.model.sys.dict.SysParameter">
		select 
		<include refid="Base_Column_List" />
  		from sys_parameter 
		<where>
			<if test="paraCode != null and paraCode != ''">
				and LOCATE(#{paraCode,jdbcType=VARCHAR},'para_code') &gt; 0
			</if>
			<if test="paraValue != null and paraValue != ''">
				and LOCATE(#{paraValue,jdbcType=VARCHAR},'para_value') &gt; 0
			</if>
			<if test="paraNote != null and paraNote != ''">
				and LOCATE(#{paraNote,jdbcType=VARCHAR},'para_note') &gt; 0
			</if>
		</where>
		order by para_order
	</select>
</mapper>