<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncms.mapper.user.SysUserdepartmentMapper">
	<resultMap id="BaseResultMap" type="com.ncms.model.sys.user.SysUserdepartment">
		<id column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="dep_id" property="depId" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="Base_Column_List">
		sys_userdepartment.user_id,sys_userdepartment.dep_id
	</sql>
	<insert id="insertDeptUser" parameterType="map">
		<!-- 添加用户部门关系 -->
		insert into sys_userdepartment
		values
		<foreach collection="ids" item="item" index="index" separator="," >
			(#{userId},#{item})
		</foreach>
  	</insert>
</mapper>